/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

html{
  margin: 10 px;
}

#outer-box{
  padding: 10px;
  border: 10px purple solid;
}

.white-text{
  color: white;
}

.inner-box{
  background-color: red;
}